:root {
    --Dark-cyan: hsl(158, 54%, 27%);
    --Dark-green: hsl(185, 30%, 15%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hwb(0 100% 0%);

    --ff-montserrat: 'Montserrat', serif;
    --ff-fraunces: 'Fraunces', sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;
}

h1, h2, h3 {
  line-height: 1;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* general styling*/

  body {
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-regular);
    color: var(--Dark-grayish-blue);
    font-size: 0.875rem;
    background-color: var(--Cream);
  /* I should use this method more often*/
    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: 1rem;

  }
 
  .flex-group{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  }
  
  img {
    display: block;
    width: 100%;

  }
  /* product styles*/
  .product{
   background-color: var(--White);
   border-radius: 0.5rem;
   overflow: hidden; 
   display: grid;
   max-width: 600px;
   
  }
  @media (min-width: 600px) {
    .product {
      
      grid-template-columns: 1fr 1fr;
    }
  }
  .product__content{
   
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
  }

  .product__category {
    font-size: .8125rem;
    text-transform: uppercase;
    font-family: var(--ff-montserrat);
    letter-spacing: 5px;
  }

  .product__title { 
    font-size: 2rem;
    font-family: var(--ff-fraunces);
    color: black;
    
  }

  .product__current-price{
    font-size: 2rem;
    font-family: var(--ff-fraunces);
    color: var(--Dark-cyan);
  }

  .product__original-price{
    text-decoration: line-through;
    color: var(--Dark-grayish-blue)
  }

  .button {
    cursor: pointer;
    border: 0;
    text-decoration: none;
    background-color: var(--Dark-cyan);
    padding: .75em 1.5em;
    border-radius: .5rem;
    color: var(--White);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;


  }

  .button:hover {
    background-color: var(--Dark-green);
  }

  .button[data-icon="shopping-cart"]::before {
    content: "";
    background-image: url('./images/icon-cart.svg');
    width: 15px;
    height: 16px;
  }
  